ul {
    list-style: none;
    padding-left: 0;
}

.task {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.last-row {
    display: inline-block;
}

.completed {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    text-decoration: line-through;
}